%h1.title Crear usuario
%p
  = form_tag usuarios_path, :method => :post do

    = label :usuario, :nombre, 'Nombre'
    = text_field :usuario, :nombre
    %br
    = label :usuario, :apellido, 'Apellido'
    = text_field :usuario, :apellido
    %br
    = label :usuario, :perfil, 'Perfil'
    %select{:name => "perfil"}
      %option{:value => "Profesor"} Profesor
      %option{:value => "Estudiante"} Estudiante
    %br
    = label :usuario, :correo, 'Correo electrónico'
    = text_field :usuario, :correo
    %br
    = label :usuario, :clave, 'Contraseña'
    = password_field :usuario, :clave
    %br
    = label :usuario, :twitter, 'Twitter'
    = text_field :usuario, :twitter
    %br
    = hidden_field :usuario, :autorizado, :value=>"0"
    %br
    = submit_tag 'Crear usuario'
%p
= link_to 'Volver a lista de usuarios', usuarios_path
